# Configuration - Update these values!
DB_NAME="drupal"
DB_USER="drupal"
DB_PASS=""
DB_HOST="localhost"
SOURCE_UUID=""
DRUSH_PATH="/var/www/tripal4/vendor/bin/drush"
DRUPAL_ROOT="/var/www/tripal4"
CONFIG_DIR="kveikbase_config"

